@use 'variables' as *;

.header {
  padding-block: 3.2rem;
  border-bottom: 2px solid $gray-100;

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .logo {
      width: 26rem;
      height: 9rem;

      a {
        font-size: 4rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 110px;
          height: 100%;
        }

        span {
          font-size: 2.6rem;
          max-width: 130px;
        }
      }
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        li {
          a {
            padding: 0.4rem 1.2rem;
            font-size: 2.4rem;
            font-weight: 600;
            text-transform: uppercase;
            opacity: 0.9;
            transition: all 0.3s ease-in-out;

            &:hover {
              opacity: 1;
              text-decoration: underline;
              text-underline-offset: 8px;
              color: #000;
            }
          }
        }
      }
    }
  }
}
