@use 'variables' as *;

.header {
  padding-block: 1.8rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      a {
        font-size: 4rem;
      }
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
          a {
            padding: 0.4rem 1.2rem;
          }
        }
      }
    }
  }
}
