@use './variables' as *;

.hero {
  padding-block: 8rem;

  .container {
    display: flex;
    flex-direction: column;

    span {
      font-size: 2.4rem;
      position: relative;
      line-height: 100%;
      margin-block: 4rem;
      text-transform: uppercase;

      &::before {
        content: '';
        display: block;
        width: 80px;
        height: 2px;
        background: $dark-100;
        position: absolute;
        top: 12px;
        left: -100px;
      }
    }

    .title {
      margin-bottom: 4rem;

      h1 {
        white-space: nowrap;
        font-size: 9.8rem;
        text-transform: uppercase;
        color: $dark-100;
        line-height: 150%;
      }

      .subtitle {
        display: flex;
        align-items: center;
        gap: 1.4rem;

        h2 {
          font-size: 9.8rem;
          text-transform: uppercase;
          white-space: nowrap;
          color: $dark-100;
          line-height: 150%;
        }

        p {
          font-size: 2.4rem;
        }
      }
    }
  }

  .bg-hero {
    width: 100%;
    height: 65vh;
    background: url('../img/bg-hero.jpg') no-repeat bottom/cover;
  }
}
